<div class="myForm">
    <div class="container">
        <form (ngSubmit)="onSubmit()" [formGroup]="dataFormRadio" class="p-4">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First name" formControlName="firstname">
                    <div *ngIf="dataFormRadio.controls.firstname.errors?.required && (dataFormRadio.controls.firstname.touched || dataFormRadio.controls.firstname.dirty)" class="text-danger">First Name is required</div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last name" formControlName="lastname">
                    <div *ngIf="dataFormRadio.controls.lastname.errors?.required && (dataFormRadio.controls.lastname.touched || dataFormRadio.controls.lastname.dirty)" class="text-danger">Last Name is required</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label>How should we contact you?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="emailOption" value="Email" formControlName="contactMethod">
                        <label class="form-check-label" for="emailOption">Email</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="phoneOption" value="Phone" formControlName="contactMethod">
                        <label class="form-check-label" for="phoneOption">Phone</label>
                    </div>
                    <div *ngIf="dataFormRadio.controls.contactMethod.errors?.required && (dataFormRadio.controls.contactMethod.touched || dataFormRadio.controls.contactMethod.dirty)" class="text-danger">Contact Method is required</div>
                </div>
                <div class="form-group col-md-6 mb-3" *ngIf="dataFormRadio.controls.contactMethod.value === 'Email'">
                    <label for="contactInfo">Email</label>
                    <input type="email" class="form-control" id="contactInfo" placeholder="Email" formControlName="contactInfo">
                    <div *ngIf="dataFormRadio.controls.contactInfo.errors?.required && (dataFormRadio.controls.contactInfo.touched || dataFormRadio.controls.contactInfo.dirty)" class="text-danger">Email is required</div>
                </div>
                <div class="form-group col-md-6 mb-3" *ngIf="dataFormRadio.controls.contactMethod.value === 'Phone'">
                    <label for="contactInfo">Phone Number</label>
                    <input type="text" class="form-control" id="contactInfo" placeholder="Phone Number" formControlName="contactInfo">
                    <div *ngIf="dataFormRadio.controls.contactInfo.errors?.required && (dataFormRadio.controls.contactInfo.touched || dataFormRadio.controls.contactInfo.dirty)" class="text-danger">Phone Number is required</div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg">Submit</button>
            </div>
        </form>
    </div>
</div>
